server:
  port: 8090
spring:
  application:
    name: "loans"
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://mysql:3306/loansdb
    username: eazybank
    password: eazybank
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  config:
    import: "optional:configserver:http://configserver:8071/"
  cloud:
    kubernetes:
      discovery:
        all-namespaces: true
  profiles:
    active: "prod"
  devtools:
    livereload:
      enabled: false
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      access: unrestricted
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
info:
  app:
    name: "loans"
    description: "Eazy Bank Loans Application"
    version: "1.0.0"
logging:
  level:
    com:
      eazybytes:
        loans: DEBUG
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"