# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

deploymentName: gatewayserver-deployment
serviceName: gatewayserver
appLabel: gatewayserver
appName: gatewayserver

replicaCount: 1

image:
  repository: satyam519/gatewayserver
  tag: s18
  pullPolicy: Always

containerPort: 8072

service:
  type: LoadBalancer
  port: 8072
  targetPort: 8072

resources:
  requests:
    memory: "512Mi"
    cpu: "250m"
  limits:
    memory: "1024Mi"
    cpu: "500m"


appname_enabled: true
profile_enabled: true
config_enabled: true
discovery_enabled: true
resouceserver_enabled: true
otel_enabled: true
kafka_enabled: false